body {
    background-image: url(/Images/css/black/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.alert-primary {
    color: black !important;
    background-color: rgb(119, 118, 118) !important;
    border: none;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgb(119, 118, 118) !important;
    border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
  }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color:black !important;
  background-color: white !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: black!important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(119, 118, 118)!important;
  }
  
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
  }
  
  .panel-title{
    background:rgb(119, 118, 118);
    border: 2px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 5px;

  }

.AlertText{
    color:rgb(255, 0, 0);
}

Footer{
  background:rgb(119, 118, 118);
}

.red-border {
  border: 3px solid yellow;
  animation-name: blink ;
  animation-duration: .5s ;
  animation-timing-function: step-end ;
  animation-iteration-count: infinite ;
  animation-direction: alternate ;
}

@keyframes blink { 
   40% { border-color: #ff0000; } 
}

.BodyText{
  font-size: 30px;
  color: white;

}

td
{
    padding:0 15px 0 15px;
}