html, body {
  margin: 0;
}
#header {
  height: 50px;
  width: 100%;
  background-color: darkgray;
  position: fixed;
}
.left {
  background-color: white;
  position: fixed;
  padding-right: 350px
  top: 50px;
}
.right {
  height: 100%;
  width: 350px;
  background-color: lightgray;
  right: 0;
  position: fixed;
  top: 50px;
}

#footer {
  color: green;
  height: 100px;
  width: 100px;
  clear: left;
}
