body {
  margin: 0;
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#header {
  height: 50px;
  width: 100%;
  background-image: url(/images/fade.png);
  position: fixed;
}
.left {
  position: fixed;
  width: 60%;
  padding-left: 10px;
  top: 50px;
}
.right {
  height: 100%;
  width: 350px;
  background-image: url(/images/PurpleHaze.png);
  right: 0;
  position: fixed;
  top: 50px;
  opacity:80%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    padding-left:40px;
    padding-bottom: 10px;
}

.content-body{
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.caixabranca{
  background-color:white;
  opacity:75%;

}
