html, body {
  margin: 0;
}
#header {
  height: 50px;
  width: 100%;
  background-color: darkgray;
  position: fixed;
}
.left {
  float: left;
  height: 100px;
  width: 100px;
  background-color: orange;
  position: relative;
  top: 50px;
}
.right {
  height: 100%;
  width: 350px;
  background-color: lightgray;
  right: 0;
  position: fixed;
  top: 50px;
}
#footer {
  color: green;
  height: 100px;
  width: 100px;
  clear: left;
}
